{% extends 'appbuilder/baselayout.html' %}


{% block head_css %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"></link> -->
  <link href="/static/sticky-footer.css" rel="stylesheet">
{% endblock %}



{% block head_js %}
  {{ super() }}
{% endblock %}



  {% block navbar %}
    {{super()}}
  {% endblock %}

  {% block messages %}
    {{super()}}
  {% endblock %}

  {% block content %}
    {{ super() }}
  {% endblock %}


  {% block tail_js %}
    {{ super() }}
    <!-- <script src="{{url_for('static',filename='js/app.js')}}"></script> -->
  {% endblock %}

