
{% block footer %}

  <footer class="footer">
    <div class="container">
      <p class="text-muted">
        Un projet <b>Microsoft IA</b> by Simplon Toulouse.
      <br/>
      Crédits photos : Pexels
    </p>
    </div>
  </footer>

{% endblock %}