{% extends "appbuilder/base.html" %}

{% block content %}
<h2><center>Gestion des bagages voyageurs<center></h2>
  
    <div class="well">
      <a href="/etapemodelview/add">ajouter une étape</a>
    </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/static/img/pexels-dids-1986996.jpg" class="img-fluid img-thumbnail" alt="" />
      </div>
      <div class="col-md-4">
        <img src="/static/img/pexels-nappy-1058959.jpg" class="img-fluid img-thumbnail" alt="" />
      </div>
      <div class="col-md-4">
        <img src="/static/img/pexels-norma-mortenson-4391470.jpg" class="img-fluid img-thumbnail" alt="" />
      </div>
    </div>
  </div>
  
{% endblock %}

