
.card {
  border: 1px grey solid;
  border-radius: 6px;
  margin: 25px auto 25px auto;
  padding: 30px;
  max-width: 500px;
  overflow: hidden;
}

.card form {
  min-height: 200px;
  padding-top: 30px;
}

.card label {
  display: inline-block;
  min-width: 200px;
  width: 25%;
}

.card button {
  margin: 20px;
  padding: 5px 20px;
}